.services-heading h5 {
  color: #115d33;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.services-heading h2 {
  font-weight: bolder;
  text-transform: uppercase;
  color: #115d33;
  font-size: 50px;
  text-align: center;
}
.card-content{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.content-cards {
  display: flex;
  justify-content: space-evenly;
}
.content-container {
  background: url("WhatsApp Image 2024-03-15 at 13.37.01_9d53354a.jpg");
}
.content-container button {
  padding: 1.5vh 3vw;
  font-weight: bold;
  border: none;
  background-color: #228b20;
  color: white;
  justify-content: center;
}
/* .card-body{
  height:200px
} */
.content-buttons {
  adding: 1.5vh 5vw;
  font-weight: bold;
  border: none;
  background-color: #228b20;
  color: white;
}
.content-buttons:hover {
  background-color: white;
  color: #228b20;
  border: 1px solid #228b20;
  transition:0.5s ease
}

.services-heading {
  padding: 50px 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-item: center;
}
.services-button {
  margin: 5px 45%;
  padding: 5px 50px;
  align-items:center;
}
.services-button :hover {
  background-color: white;
  color: black;
  border: 2px solid #228b20;
}
.card img{
  
}

footer{
  min-height: 150px;
  width: 100%;
  display: flex;
  background-color: #228b30;
  color: white;
  justify-content: space-evenly;
  font-size:1.2em ;
  padding: 20px 0;
  
  
}
#About{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 10px;
}
#About h4{
  color: #fafafa;
  margin: 0 0 10px 0;
  font-size: 1.5em;
  text-transform: uppercase;
}
#About p{
  font: size 0.7em;
  font-weight: lighter;
}
#Services{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#Services h4{
  margin: 0 0 10px 0;
  font-size: 1.5em;
  text-transform: uppercase;
}
#Services a{
  text-decoration: none;
  color: white;
  padding: 5px 0;
  
}
#Services a:hover{
  font-style: italic;
  
}
#Get_in_touch{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}
#Get_in_touch h4{
  margin: 0 0 10px 0;
  font-size: 1.5em;
  text-transform: uppercase;

}
#Get_in_touch p{
  margin: 0 0 10px 0;
}
#Get_in_touch input{
  background-color: white;
  /* height: 30px; */
  /* width: 100%; */
  border: none;
  margin: 0 0 10px 0;
  outline: none;
  border-radius: 10px;
  padding : 10px 30px;
  
}

#Get_in_touch button{
  background-color: #115d33;
  color: black;
  font-weight: 600;
  padding:5px 15px;
  border:#115d33;
  color:white;
  
}
#Get_in_touch button:hover{
  
  cursor: pointer;

}
#Connect_us{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#Connect_us h4{
  margin: 0 0 10px 0;
  font-size: 1.5em;
  text-transform: uppercase;
}
#Connect_us #icons i{
  font-size: 1.5 em;
}
.sub-heading{
  color: #228b25;
  font-weight: 700;
  font-size: 5vh;
}

.hero-container{
  margin: 20vh 10vw;
}

.main-heading{
  font-size: 7vh;
  font-weight: 750;
}

.see-more-btn{
  background-color: #228b20;
  border: 2px solid #228b20;
  color: white;
  padding: 1.5vh 3vw;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
#carouselExampleSlidesOnly{
  height: 300px;
  width: 100%;
  z-index: -1;
  position: absolute;
  opacity: 0.8;

}

.see-more-btn:hover{
  background-color: rgba(247, 246, 246, 0.2);
  ;
  color: #228b20;
  border: 2px solid #228b20;
  font-weight: bold;
}


.navbar-brand{
  font-weight: 750;
}

.swiper-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it's behind other content */
}

.carousel-item img{
  z-index: -1;
  width: 100%;
  height: 100vh;
  /* object-fit: cover; */
  
}

.info-para{
  font-weight: 600;
  font-size: 1.2rem;
}

nav{
  position:sticky;
  }