<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/addSpot.css">
</head>
<body>
    <div id="newdiv">
        <div>
            <img src="images/Icons/Logo_NoBackground.png" style="height: 100px;">
           </div>
           
       <div>
        <p style="font-size: 40px;">NAVNATION<p>
    </div>  
    </div> 
<div id="flexing">
    <div id="ownerimage">
      <img src="images/Icons/PersonImage.jpg" style="height: 300px ;border-radius: 100%;width:300px; ">
    </div>
<div  id="ownerinfo">
    <form>
        <label for="fname" style="color: #CD8D7A; font-size: 30px;">First name:</label>
        <input type="text" id="fname" name="fname" style="width: 200px; height: 25px; margin-left: 30%;"><br>
        <label for="lname" style="color: #CD8D7A;  font-size: 30px;" >Last name:</label>
        <input type="text" id="lname" name="lname"style="width: 200px; height: 25px; margin-left: 30.5%;"><br><br>
        <label for="upload image" style="color: #CD8D7A;  font-size: 30px;">Owner Photo:</label>
        <form action="upload.com" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" style=" height: 30px; margin-left: 28%; width: 205px;  margin-top: 0px" ><br><br>
        <label for="spot"  style="color: #CD8D7A;  font-size: 30px;">Spot Address:</label>
        <input type="text" id="spotarea" name="spot" style="margin-left: 26.5%; width: 200px;height: 25px;"><br><br>
        <label for="upload image" style="color: #CD8D7A;  font-size: 30px;">Area Pictures:</label><br>
        <form action="upload.com" method="post" enctype="multipart/form-data"><br>
        <input type="file" name="image" accept="image/*" style=" height: 30px; width: 205px; margin-left: 50%; margin-top: 0px" ><br><br>
      
        <form action="upload.com" method="post" enctype="multipart/form-data"><br>
        <input type="file" name="image" accept="image/*" style=" height: 30px; width: 205px;margin-left: 50%; margin-top: 0px" ><br><br>
        
        <label for="price"style="color: #CD8D7A;  font-size: 30px;">Price: </label>
        <input type="text" id="price" name="price"style="width: 200px; height: 25px; margin-left: 39%;"><br><br><br><br>
            <button style="width: 200px; height: 35px; margin-left: 30%; background-color: #1290a4; color: white; border: none;border-radius: 10%; font-size: 20px;">Submit</button>
      </form>
    </div>
     
</div>



</body>
</html>