<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/addSpot.css">
</head>
<body>
    <div id="newdiv">
        <div>
            <img src="images\icons/Logo_NoBackground.png" style="height: 100px;">
           </div>
           
       <div>
        <p style="font-size: 40px;">NAVNATION<p>
    </div>  
    </div> 
<div id="flexing">
    <div id="ownerimage">
        
    </div>
<div  id="ownerinfo">
    <form>
        <label for="fname" style="color: #CD8D7A; font-size: 30px;">First name:</label><br>
        <input type="text" id="fname" name="fname" style="width: 200px; height: 25px;"><br>
        <label for="lname" style="color: #CD8D7A;  font-size: 30px;" >Last name:</label><br>
        <input type="text" id="lname" name="lname"style="width: 200px; height: 25px;"><br><br>
        <label for="upload image" style="color: #CD8D7A;  font-size: 30px;">Owner Photo:</label><br>
        <form action="upload.com" method="post" enctype="multipart/form-data"><br>
        <input type="file" name="image" accept="image/*" style=" height: 30px; width: 205px; margin-top: 0px" ><br><br>
        <label for="spot">Spot Address:</label><br>
        <input type="text" id="spotarea" name="spot"><br><br>
        <label for="upload image">Area Pictures:</label><br>
        <form action="upload.com" method="post" enctype="multipart/form-data"><br>
        <input type="file" name="image" accept="image/*" style=" height: 30px; width: 205px; margin-top: 0px" ><br><br>
      
        <form action="upload.com" method="post" enctype="multipart/form-data"><br>
        <input type="file" name="image" accept="image/*" style=" height: 30px; width: 205px; margin-top: 0px" ><br><br>
        
        <label for="price">Price: </label><br>
        <input type="text" id="price" name="price"><br>
            <button>Submit</button>
      </form>
    </div>
     
</div>



</body>
</html>