<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavNation</title>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="images/Icons/Logo_NoBackground.png" alt="NavNation">
        </div>
        <div class="description">
            <h2 id="AIO-slogan">NavNation</h2>
        </div>
        <ul class="nav-links">
            <li><a href="/"><img src="/public/images/Icons/Login_icon.svg" alt="">Our Solutions</a></li>
            <!-- <li><a href="/joinChatroom">AIO Bazzar</a></li> -->
            <!-- <li><a href="/portal2Menu">Shram Sarthi</a></li> -->
            <!-- <li><a href="/portal3Home">Joblens</a></li> -->
            <li><a href="/">About Us</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <hr>
    <br>
    <main class="main">
        <div class="hero">
            <div class="left-part">
                <div class="heading-slogan">
                    <h1>Discover NavNation: Seamless navigation empowering every step.</h1>
                </div>
                <div class="intro">
                    <p>NavNation is more than just a navigation platform; it's a comprehensive solution empowering individuals
                        to navigate through life's challenges with ease. From seamless urban commuting to highway journeys,
                        NavNation ensures smooth navigation at every turn.</p>
                </div>
                <div class="account-buttons">
                    <a href="/solutions"><button id="signup">Signup</button></a>
                    <button id="login"><a href="/solutions">Login</a></button>
                </div>
            </div>
            <div class="right-part">
                <img src="images/carimg.png" alt="">
            </div>
        </div>
        <div class="portal-explore">
            <h3 onclick="scrollToElement('cards-container')">Explore our portals</h3>
        </div>
        <div class="cards-container">
            <div class="card" id="portal1">
                <img class="portals-img" src="images/Icons/Picture1.png" alt="">
                <h2>Navigating Urban Maze</h2>
                <div class="card-features">
                    <h4>• Users can add images/videos related to road status and can provide real-time feedback on the
                        condition of the road .</h4>
                    <h4>• Based on crowdsourced data, we can analyze the future condition of roads during certain
                        weather conditions. For example, road XYZ, usually gets flooded during heavy rains.</h4>
                    <h4>• Our solution not only improves the commuting experience for individuals but also contributes
                        to overall traffic management and urban mobility</h4>
                </div>
                <!-- <button><a href="/joinChatroom">Learn More</a></button> -->
            </div>

            <div class="card" id="portal2">
                <img class="portals-img" src="images/Icons/Picture2.jpg" alt="">
                <h2>Cracking the Urban Parking Code</h2>
                <div class="card-features">
                    <h4>• We want to address the perennial challenge of finding parking spaces in crowded urban areas by
                        connecting parking space owners with vehicle owners in need of parking.
                        .</h4>
                    <h4>Vehicle owners seeking space can browse through the available listings and select the spots that
                        meet their criteria. Vehicle owners have the flexibility to review the parking spot details and
                        decide whether to park there or explore other options. </h4>
                    <!-- <h4>As our platform gains traction, we aim to expand our network of parking space owners and vehicle owners across cities and regions.
                    </h4> -->
                </div>
                <!-- <button><a href="/portal2Menu">Learn More</a></button> -->
            </div>

            <div class="card" id="portal3">
                <img class="portals-img" src="images/Icons/Picture3.jpg" alt="">
                <h2>Tracking Speedy Vehicles </h2>
                <div class="card-features">
                    <h4>• Using advanced technology, our website continuously monitors the speed of vehicles and alerts
                        users</h4>
                    <h4>• In addition to warnings, our website securely logs details of the driver and the vehicle,
                        including speed violations, timestamps, and location data.</h4>
                    <h4>• Government authorities have access to the secure database, allowing them to monitor vehicle
                        speed data and identify instances of reckless driving or speeding.</h4>
                </div>
                <!-- <button><a href="/portal3Home">Learn More</a></button> -->
            </div>
        </div>
        <div class="our-story">
            <div class="story-text">
                <h2>Our Story</h2>
                <p>At IIITN, our journey began with a passion for innovation and a commitment to shaping the future.
                    Fueled by curiosity and determination, we embarked on a quest to address the challenges facing
                    modern cities. Through countless hours of brainstorming, coding, and collaboration, we crafted a
                    website dedicated to the vision of smart cities. Our journey reflects the collective efforts of
                    students driven by a shared goal: to create impactful solutions for a better tomorrow. With every
                    line of code and every design choice, we aimed to empower communities and pave the way for a more
                    sustainable and connected urban environment. This is our story—a testament to the power of teamwork,
                    creativity, and the relentless pursuit of progress.</p>
            </div>
            <div class="story-img">
                <img src="images/Our Story.jpg" alt="">
            </div>
        </div>
        <div class="video-tutorial">
            <!-- <img src="images/Icons/Car_image.jpg" alt="">        </div> -->
    </main>
    <footer>
        <div class="contact-details">
            <div class="social-handles">
                <h3>Feel free to reach out</h3>
                <div class="icons">
                    <img src="images/Icons/linkedin.png" alt="">
                    <img src="images/Icons/instagram.png" alt="">
                    <img src="images/Icons/github.png" alt="">
                    <img src="images/Icons/youtube.png" alt="">
                    <img src="images/Icons/gmail.png" alt="">
                </div>
            </div>
        </div>
    </footer>

    <script src="js/home.js"></script>
</body>

</html>