<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution2</title>
    <link rel="stylesheet" href="css/solution2.css">
</head>
<body>
    <div id="headPage">
        <div id="addSpot">


        </div>
        <div id="findSpot">


        </div>
    </div>





</body>
</html>