#newdiv{
    display: flex;
    flex-direction: row;
}
#ownerinfo{
    height: 500px;
    width: 30%;
    margin-top: 50px;
   margin-right: 300px;
   
}
#ownerimage{
    height: 250px;
    width: 250px;
    border: 2px solid black;
    margin-top: 100px;
    border-radius: 100%;
    margin-left: 200px;
    
}
#flexing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}