#headPage{
    width: 100%;
    height: 750px;
    
    display: flex;
    flex-direction: row;
}

#addSpot{
 width: 50%;
 height: 750px;
 border: 2px solid black;
}

#findSpot{
width: 50%;
height: 750px;
border: 2px solid black;

}