#contentbox{
    width: 100%;
    height: 750px;
   
    display: flex;
   flex-direction: row;
}
#mapdiv{
    width: 60%;
    height: 100%;
}

#info{
    width: 40%;
    height: 100%;
 
    background-color: white;
    padding-left: 30px;
}

 #swap{
    margin-bottom: 50px;
 }

.inputbox{
    width: 300px;
    height: 36px;
}

#uploadDiv{
    margin-top: 45px;
}